[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "@chainlink/contracts/=lib/chainlink-brownie-contracts/contracts/",
    "@chainlink/v1/=lib/chainlink/contracts/src/v0.8/functions/dev/v1_X/",
    "@chainlink/=lib/chainlink/",
    "@solmate=lib/solmate/src",
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
]
fs_permissions = [
    { access = "read", path = "./broadcast" },
    { access = "read", path = "./reports" },
    { access = "read", path = "./script.js" },
    { access = "read", path = "./offchain" },
]

[fuzz]
runs = 256

optimizer = true
optimizer_runs = 200
via_ir = false

# Allow deploy script to read file from file system
ffi = true

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
